<div *ngIf="pokemon">
  <h2>{{ pokemon.name | uppercaseFirstLetters }}'s moves</h2>
  <div>
    <ul>
      <li *ngFor="let move of pokemon.moves"><a href="{{ move.url }}">{{ move.name | uppercaseFirstLetters }}</a></li>
    </ul>
  </div>
  <button class="nav-button" routerLink="/details/{{ pokemon.id }}" routerLinkActive="active">Details</button>
  <button class="nav-button" routerLink="/home" routerLinkActive="active">Home</button>
</div>
<modal>
  <modal-header>
    <h4 class="modal-title">{{ move.name }}</h4>
  </modal-header>
</modal>
