<div *ngIf="pokemon">
  <h2>{{ pokemon.name | uppercaseFirstLetters }} details</h2>
  <div>
    <label>Number: </label>{{ pokemon.id }}
  </div>
  <div>
    <label>Weight: </label>{{ pokemon.weight }}
  </div>
  <div>
    <label>Height: </label>{{ pokemon.height }}
  </div>
  <div>
    <label>Types: </label><span *ngFor="let type of pokemon.types">{{ type | uppercaseFirstLetters }} </span>
  </div>
  <div>
    <label><a routerLink="/details/{{ pokemon.id }}/moves">Moves: </a></label><span *ngFor="let move of pokemon.moves">{{ move.name | uppercaseFirstLetters }}, </span>
  </div>
  <div>
    <button class="nav-button" routerLink="/home" routerLinkActive="active">Home</button>
  </div>
</div>
