h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2 {
  padding-top: 15px;
}

.nav-button {
  float: left;
  font-size: smaller;
  margin: 5px 0 5px 0;
  background-color: coral;
  border-radius: 10px;
  border: none;

}

* {
  font-family: Arial, Helvetica, sans-serif;
}
